<section class="feedback-form wow fadeInUpBig" data-wow-duration="1.5s">
    <h2>Связаться с нами</h2>
    <form class="feedback-form__form" method="post" action="">
        <div class="feedback-form__row">
            <div class="feedback-form__block">
                <label class="feedback-form__label">
                    <input class="input error" type="text" name="fio" value="" placeholder="Ваше имя">
                </label>
            </div>
            <div class="feedback-form__block">
                <label class="feedback-form__label">
                    <input class="input" type="text" name="email" value="" placeholder="Ваш email">
                </label>
            </div>
            <div class="feedback-form__block">
                <label class="feedback-form__label">
                    <textarea class="textarea" name="message" placeholder="Ваш вопрос"></textarea>
                </label>
            </div>
        </div>
        <div class="feedback-form__button-block">
            <button class="button button--type_1" type="submit">Отправить</button>
            <p class="feedback-form__note">Отправляя заявку, вы даете согласие на обработку своих персональных данных и соглашаетесь с политикой конфиденциальности</p>
        </div>
    </form>
</section>