<footer class="footer">
    <div class="footer__inner">
        <div class="footer__right">
            <p class="footer__mail-block"><a class="email-link" href="mailto:mail@vsignal.ru">mail@vsignal.ru</a></p>
            <p class="footer__phone-block"><a href="tel:+78125018207">8 (812) 501-82-07</a></p>
            <p class="footer__address">г.&nbsp;Санкт-Петербург, Гражданский&nbsp;пр.&nbsp;114</p>
        </div>
        <div class="footer__left">
            <ul class="footer__socials">
                <li class="footer__socials-item"><a href="#" target="_blank">Instagram</a></li>
                <li class="footer__socials-item"><a href="#" target="_blank">Vkontakte</a></li>
                <li class="footer__socials-item"><a href="#" target="_blank">Facebook</a></li>
            </ul>
            <ul class="footer__links">
                <li class="footer__links-item"><a class="footer__link" href="terms.html">Пользовательское соглашение</a></li>
            </ul>
        </div>
    </div>
</footer>