<header class="header compensate-for-scrollbar">
    <div class="header__inner">
        <a class="header__logo" href="main.html">
            <svg>
                <use xlink:href="#logo"></use>
            </svg>
        </a>
        <ul class="header__links">
            <li class="header__links-item">
                <a class="header__link" href="#">Решения</a>
            </li>
            <li class="header__links-item">
                <a class="header__link" href="#">Нужен совет?</a>
            </li>
        </ul>
        <button class="js-menu-toggler header__burger" type="button" title="Меню">
            <svg>
                <use xlink:href="#burger"></use>
            </svg>
        </button>
    </div>
    <div class="main-menu">
        <div class="main-menu__inner">
            <nav class="main-menu__nav">
                <ul class="main-menu__list">
                    <li class="main-menu__list-item"><a class="main-menu__link" href="#">Проекты</a></li>
                    <li class="main-menu__list-item"><a class="main-menu__link is-active" href="#">Услуги</a></li>
                    <li class="main-menu__list-item"><a class="main-menu__link" href="#">Решения</a></li>
                    <li class="main-menu__list-item"><a class="main-menu__link" href="#">О компании</a></li>
                    <li class="main-menu__list-item"><a class="main-menu__link" href="#">Нужен совет?</a></li>
                    <li class="main-menu__list-item"><a class="main-menu__link" href="#">Контакты</a></li>
                </ul>
            </nav>
            <ul class="header__socials">
                <li class="header__socials-item"><a href="#" target="_blank">Instagram</a></li>
                <li class="header__socials-item"><a href="#" target="_blank">Vkontakte</a></li>
                <li class="header__socials-item"><a href="#" target="_blank">Facebook</a></li>
            </ul>
            <p class="header__mail-block"><a class="email-link" href="mailto:mail@vsignal.ru">mail@vsignal.ru</a></p>
            <p class="header__phone-block"><a href="tel:+78125018207">8 (812) 501-82-07</a></p>
            <p class="header__address">г.&nbsp;Санкт-Петербург, Гражданский&nbsp;пр.&nbsp;114</p>
        </div>
    </div>
</header>