<style>
    #preloader {
        align-items: center;
        bottom: 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        opacity: 1;
        position: fixed;
        right: 0;
        top: 0;
        transition: opacity0.3s;
        z-index: 999999;
    }

    #preloader p {
        color: #08205C;
        font-family: sans-serif;
        font-size: 14px;
        margin-top: 25px;
    }

    .loaded #preloader {
        opacity: 0
    }
</style>