.article-detail
  &:not(:last-child)
    margin-bottom: 40px

    @media(min-width: $sm)
      margin-bottom: 80px

    @media(min-width: $lg)
      margin-bottom: 120px

  &__link-block
    margin-bottom: 20px

    @media(min-width: $sm)
      margin-bottom: 40px

    @media(min-width: $lg)
      margin-bottom: 60px

  &__logo-block
    margin-bottom: 30px

    @media(min-width: $sm)
      margin-bottom: 40px

    @media(min-width: 1200px)
      align-items: flex-end
      display: flex
      justify-content: space-between
      margin-bottom: 60px

    .article-detail__text
      margin-bottom: 30px

      @media(min-width: $sm)
        margin-bottom: 60px

      @media(min-width: 1200px)
        margin-bottom: 0
