.hero
  padding-bottom: 25px

  h1
    font-size: 30px

    @media(min-width: $sm)
      font-size: 68px
      margin-bottom: 60px

    @media(min-width: $lg)
      font-size: 75px
      margin-bottom: 60px

  &__buttons
    display: flex
    flex-wrap: wrap
    margin-bottom: 5px

  &__button
    background-color: transparent
    border: none
    color: $border-color
    cursor: pointer
    font-size: 18px
    font-weight: 700
    line-height: 1.3
    letter-spacing: 0
    margin-bottom: 10px
    padding: 0
    position: relative
    transition: color 0.3s

    @media(min-width: $sm)
      font-size: 24px
      margin-bottom: 15px

    &:not(:last-child)
      margin-right: 15px

      @media(min-width: $sm)
        margin-right: 30px

    &:hover,
    &:focus,
    &.is-active
      color: $main-color

    &:active,
    &.is-active
      &::after
        height: 12px

        @media(min-width: $sm)
          height: 15px

    &::after
      background-color: $selection-color
      bottom: 0
      content: ''
      height: 0
      left: 0
      position: absolute
      top: auto
      transition: height 0.3s
      width: 100%
      z-index: -1

  &__image
    img
      mask: url('../images/icons/triangle.svg') 50% 50% / cover

  &__logos
    display: flex
    flex-wrap: wrap
    margin-left: -2.5px
    margin-right: -2.5px

    @media(min-width: $lg)
      margin-bottom: 115px

    img
      height: 35px
      margin-right: 2.5px
      margin-left: 2.5px
      margin-bottom: 5px
