.join
  &:not(:last-child)
    margin-bottom: 80px

    @media(min-width: $lg)
      margin-bottom: 120px

    @media(min-width: $xl)
      margin-bottom: 240px

  .button
    max-width: 260px
    width: 100%
