h2,.h2
  & + .scroller
    margin-top: 40px

    @media(min-width: $sm)
      margin-top: 60px

    @media(min-width: $lg)
      margin-top: 80px

.scroller
  margin-left: -30px
  margin-right: -30px
  margin-bottom: 80px

  @media(min-width: $sm)
    margin-left: -40px
    margin-right: -40px

  @media(min-width: $lg)
    margin-bottom: 120px

  @media(min-width: 1280px)
    left: 50%
    margin-left: 0
    margin-right: 0
    position: relative
    transform: translateX(-50%)
    width: 100vw    

  .swiper-slide
    width: auto

  &__image
    width: 260px

    @media(min-width: $sm)
      width: 325px

    @media(min-width: $lg)
      width: 400px
